<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="gui" default="true"/>
    <arg name="image_topic" default="/camera/color/image_raw"/>
    <arg name="settings_path" default="~/.ros/find_object_2d.ini"/>

	<!-- Nodes -->
	<node name="find_object_2d" pkg="find_object_2d" type="find_object_2d" output="screen">
		<remap from="image" to="$(arg image_topic)"/>
		<param name="gui" value="$(arg gui)" type="bool"/>
		<param name="settings_path" value="$(arg settings_path)" type="str"/>
	</node>
</launch>